RewriteEngine On
RewriteCond %{HTTP_REFERER} !^http://(www\.)?(10.9.20.226|localhost) [NC] 
RewriteCond %{HTTP_REFERER} !^http://(www\.)?(10.9.20.226|localhost).*$ [NC] 
RewriteRule \.(gif|png)$ - [F]

